body {
    background-image: url("./images/mainbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20%;
}
.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: url("./images/cursor.png"), auto;
}
.value {
    color: rgb(0, 0, 0);
    position: absolute;
    font-size: 24px;
}
.label {
    color: rgb(255, 255, 255);
    background-color: rgb(63, 19, 19);
    border-radius: 20%;
    padding: 6px 15px;
    font-size: 28px;
}

.present {
    width: 280px;
    height: 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
}

.present:hover {
    transform: scale(1.1);
}